// Include any default variable overrides here (though functions won't be available)

$white: #ebe6f0;
$gray-100: #e6e0ea;
$gray-200: #c5c3cb;
$gray-300: #938f96;
$gray-400: #676569;
$gray-500: #484549;
$gray-600: #373638;
$gray-700: #29282a;
$gray-800: #222122;
$gray-900: #1a191a;
$black: #0a0a0a;

$primary: #5e7882;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

@import "../node_modules/@fontsource-variable/obidee-sans/index.css";

body {
  font-family: "Obidee Sans", sans-serif;
}

a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
